<div class="about-main">
  <div class="about-photo">
    <div class="about-photo-item1"></div>
    <div class="about-photo-item2"></div>
    <div class="about-photo-item3"></div>
  </div>

  <div class="about-text">
    <p>
      「うちの子は学校でどう過ごしているのだろう」<br>
      <br>
      「忙しくて行事に参加できないけど様子が知りたい」<br>
      <br>
      「生徒の写真をたくさん撮ったけどどう共有しよう」<br>
      <br>
      そんな保護者の皆様や先生方のためのサイトです。
    </p>
  </div>
</div>