<table>
  <tbody>
      <% post.post_comments.each do |post_comment| %>
      <tr>
        
        <td>
          <%= link_to admin_path(post_comment.admin) do %>
            <%= post_comment.admin.name %>
          <% end %>
        </td>
        <td><%= post_comment.comment %></td>
        <td>
          <% if post_comment.admin == current_admin %>
            <%= link_to "Destroy", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>