<div class="about-photo">
  <div class="about-photo-item1"></div>
  <div class="about-photo-item2"></div>
  <div class="about-photo-item3"></div>
  <div class="about-photo-item4"></div>
</div>

<div class="about-text">
  <p>
    「うちの子は学校でどう過ごしているのだろう」<br>
    「忙しくて行事に参加できないけど様子が知りたい」<br>
    「生徒の写真をたくさん撮ったけどどう共有しよう」<br>
    そんな保護者の皆様や先生方のためのサイトです。
  </p>
</div>