
.top-photo {
  width: 100%;
  height: 100vh;
  background-image: image-url('kousya.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.top-text {
  width: 100%;
  padding: 30px;
  background-color: rgba(2, 80, 2, 0.67);
  font-size: 3em;
  color: rgb(250, 245, 232);
}

.about-photo-item1,
.about-photo-item2,
.about-photo-item3 {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.about-photo-item1 {
  background-image: image-url('24450359_s.jpg');
}

.about-photo-item2 {
  background-image: image-url('27701602_s.jpg');
}

.about-photo-item3 {
  background-image: image-url('32756855_s.jpg');
}

.about-text {
  font-size: 1.25rem;
  background-color: rgba(10, 70, 14, 0.413);
  color: rgb(250, 245, 232);
}
